
<!-- latest news -->

<div class="latest-news mt-150 mb-150">
    <div class="container">
        <h2 style="text-align:center; margin-bottom: 40px"><span  class="orange-text">TIN</span> TỨC</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Những điều cần biết khi thanh lý đồ cũ qua mạng.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 11/09/2022</span>
                        </p>
                        <p class="excerpt">Bạn có món đồ trong nhà chưa cũ nhưng bạn lại muốn những món mới đa tính năng hơn để đáp ứng nhu 
                            cầu sử dụng mà chưa biết thanh lý như thế nào. Tại bài viết này, 
                            Đồ cũ Thiên Tiến sẽ bật mí cho bạn những kinh nghiệm về thanh lý đồ cũ qua mạng.</p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Kinh nghiệm chọn mua đồ gia dụng cũ.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 22/10/2022</span>
                        </p>
                        <p class="excerpt">Sở hữu một món đồ gia dụng đã sử dụng với chất lượng tốt và mức giá hời là lựa chọn của không ít gia đình
                            trong thời buổi kinh tế khó khăn hiện nay.  Mặc dù mua đồ cũ có thể hơi “may rủi” nhưng nếu bạn biết cách kiểm tra kĩ 
                           càng những món đồ cần mua.</p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">5 Lưu ý khi mua và sử dụng thiết bị điện gia dụng.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 02/11/2022</span>
                            <p class="excerpt">Khi mua sắm các trang thiết bị điện gia dụng cho gia đình bạn cần lưu tâm đến các chức năng hoạt động của sản phẩm, 
								kiểu dáng và giá cả. Một yếu tố quan trọng không thể bỏ qua đó chính là khả năng tiết kiệm điện của mỗi sản phẩm.</p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-4"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Mua bán trao đổi đồ cũ là cách bảo vệ môi trường thông qua giảm thiểu rác thải tiêu dùng</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i>  02/11/2022</span>
                        </p>
                        <p class="excerpt">Thời gian gần đây, các hình thức tái sử dụng và giảm thiểu lượng rác thải đã trở thành một mô hình kinh doanh mang lại lợi nhuận cho nhiều doanh nghiệp. Trong đó, xu hướng sử dụng đồ cũ đang được yêu thích tại nhiều quốc gia. 
                            Cùng với xu hướng sử dụng chất liệu bền vững, dùng đồ cũ.</p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-5"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Mua bán đồ cũ, thanh lý cần chú ý những điều gì để không tiền mất tật mang với đồ dỏm?</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i>  02/11/2022</span>
                        </p>
                        <p class="excerpt">Mua bán đồ cũ hay đồ thanh lý từ lâu đã không phải điều gì mới lạ. Ngày nay, 
                            cùng với sự phát triển của xã hội, với ưu điểm giá rẻ, những món đồ cũ, thanh lý dường như trở thành lựa chọn không thể tuyệt vời hơn cho những ai có điều kiện kinh tế hạn hẹp.Trong thời buổi hiện nay  </p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Nguy cơ cháy nổ từ các thiết bị điện cũ kém chất lượng và cách nhận biết thiết bị cũ kém chất lượng.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i>  02/11/2022</span>
                        </p>
                        <p class="excerpt">hiết bị điện là vật dụng quan trọng không thể thiếu trong đời sống xã hội.
                             Tuy nhiên, thiết bị như thế nào là đảm bảo chất lượng, sử dụng như thế nào là đúng cách đang là vấn đề đáng quan tâm hiện nay khi tình trạng cháy,
                             nổ từ các thiết bị điện liên tiếp xảy ra gây thiệt hại lớn về người và tài sản.</p>
                        <a href="single-news.html" class="read-more-btn"> Xem thêm <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#">Trở lại</a></li>
                                <li><a href="#">1</a></li>
                                <li><a class="active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Tiếp tục</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
