
<!-- featured section -->
<div class="feature-bg"  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Tại sao cần<span class="orange-text"> chọn chợ cũ</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Hỗ trợ</h3>
                                    <p>Nhận lấy hàng từ người bán và giao hàng đến người mua qua đăng ký từ hệ thống chợ tốt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Giá cả</h3>
                                    <p>sự giao dịch giá cả từ hai bên qua hệ thống chat trực tiếp trong hệ thống.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <div class="content">
                                    <h3>Chính sách quyền lợi</h3>
                                    <p>Bảo hành đổi trả nhanh đến khách hàng , phục vụ nhanh chóng mọi thắc mắc đến khách hàng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Giao dịch</h3>
                                    <p> Mọi quyền lời giao dịch trực tiếp bằng tiền mặt giữa hai bên người bán và mua .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured section -->

<!-- shop banner -->
<h2 style="text-align:center;margin-bottom: 47px;"><span class="orange-text">ĐĂNG</span> TIN</h2>
                <div class="form-title">
                    <h2 style="margin-left:42px;">Hãy đăng  sản phẩm bạn muốn bán tại đây</h2>
                    <p style="margin-left:42px;">Hệ thống sẽ ghi nhận tin của bạn ,xem xét và duyệt tin của bạn trong thời gian sớm nhất.</p>
                </div>
                 <div id="form_status"></div>
                <div class="contact-form">
                    <form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this )">
                        <p>
                         <span style="margin-left: 18px;font-weight: bold;">Tiêu đề sản phẩm<span style="color:red;"> (*)</span></span>
                            <input style="border: 1px solid #000; width:100%;"  type="text" placeholder=" Tiêu đề sản phẩm :" name="name products" id="name products">
                            
                        </p>
                        <p>
                            <span style="margin-left: 18px;font-weight: bold;">Độ mới<span style="color:red;"> (*)</span></span>
                            <span style="margin-left: 670px;font-weight: bold;">Số điện thoại<span style="color:red;"> (*)</span></span><br>
                            <input style="border: 1px solid #000;" type="email" placeholder="Độ mới :" name="new" id="new">
                       
                            <input style="border: 1px solid #000;width:51%" type="tel" placeholder="Số điện thoại :" name="phone" id="phone">
                         
                        </p>
                        <p>
                            <span style="margin-left: 18px;font-weight: bold;">Tỉnh thành<span style="color:red;"> (*)</span></span>
                            <span style="margin-left: 644px;font-weight: bold;">Quận/huyện<span style="color:red;"> (*)</span></span><br>
                            <input style="border: 1px solid #000;" type="email" placeholder="Tỉnh thành :" name="new" id="new">
                       
                            <input style="border: 1px solid #000;width:51%" type="email" placeholder="Quận huyện:" name="new" id="new">
                         
                        </p>
                        <p>
                            <span style="margin-left: 18px;font-weight: bold;">Mô tả</span>
                            <textarea  style="border: 1px solid #000;" name="message" id="message" cols="30" rows="10" placeholder="Mô tả chi tiết :"></textarea></p>
                        <input type="hidden" name="token" value="FsWga4&%" />
                        <p><input style="margin-left: 680px;" type="submit" value="Đăng tin"></p>
                    </form>
                </div>
      
<!-- end shop banner -->

<!-- team section -->
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3> Người sáng lập <span class="orange-text"> chợ cũ</span></h3>
                    <p>Với tinh thần là điểm tin cậy để bán và mua những món đồ qua sử dụng.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Khánh Duy <span> IT Dev</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Marry Trần <span>Manager</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Hiếu David <span>IT Dev</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team section -->

<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/customer/customer1.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Đình hiếu <span>Quận 6</span></h3>
                            <p class="testimonial-body">
                                Sản phẩm tuy mua cũ nhưng nhà thanh lý đã duyệt nguổn đúng thông tin bên bán thank chợ cũ.<br>
                                Sản phẩm đã mua: bàn học chữ L.<br>
                                Độ mới: 95%,<br>
                                Đánh giá:
                                <span style="color:yellow" class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/customer/customer2.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Hữu Tâm <span> Quận Tân Bình</span></h3>
                            <p class="testimonial-body">
                                Sản phẩm đúng với mô tả tử người bán với sự kiểm duyệt từ chợ cũ thì tôi an tâm với sản phẩm này.<br>
                                Sản phẩm đã mua: Điện thoại iphone XR.<br>
                                Độ mới: 98%,<br>
                                Đánh giá:
                                <span style="color:yellow" class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star"></span>
                                <span style="color:yellow"class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="assets/img/customer/customer3.jpg" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Thanh Duy <span> Quận Gò vấp</span></h3>
                            <p class="testimonial-body">
                                Sản phẩm đúng với mô tả tử người bán với sự kiểm duyệt từ chợ cũ thì tôi an tâm với sản phẩm này.<br>
                                Sản phẩm đã mua: Quạt Senko.<br>
                                Độ mới: 95%,<br>
                                Đánh giá:
                                <span style="color:yellow" class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star checked"></span>
                                <span style="color:yellow"class="fa fa-star"></span>
                                <span style="color:yellow"class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

