
	<!-- Product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<h2 style="text-align:center; margin-bottom: 40px"><span  class="orange-text">SẢN</span> PHẨM</h2>
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
					
						<p>Sản phẩm đã qua sử dụng co 6,055,816 sản phẩm độ cũ không dưới 92% với giá hời.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/laptoplenovo.jpg" alt=""></a>
						</div>
						<h3>Laptop Lenovo Ideapad</h3>
						<p class="product-price"><span>Độ mới:98%</span> 14.500.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/ban.png" alt=""></a>
						</div>
						<h3> Bàn học kèm kệ sách đa năng</h3>
						<p class="product-price"><span>Độ mới:97%</span> 239.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/dienthoai.jpeg" alt=""></a>
						</div>
						<h3>Redmi Note 11(4GB/128GB)</h3>
						<p class="product-price"><span>Độ mới:98%</span> 3.500.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/quat.jpg" alt=""></a>
						</div>
						<h3>Quạt lửng Senko</h3>
						<p class="product-price"><span>Độ mới:95%</span> 200.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/bepga.jpg" alt=""></a>
						</div>
						<h3>Bếp ga xm-150</h3>
						<p class="product-price"><span>Độ mới:92%</span> 100.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/tulanh.jpg" alt=""></a>
						</div>
						<h3>Tủ lạnh Toshiba XD</h3>
						<p class="product-price"><span>Độ mới:97%</span> 10.000.000đ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End product section -->

	<!-- Cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>Duyệt nhanh</strong> </span>
                            </div>
                        </div>
                    	<img src="assets/img/banner/banner1.png" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Đăng tin ng</span>ay đi nhé</h3>
                    <h4>HÃY đăng tin sản phẩm bạn cần thanh lý ngay nào!</h4>
                    <div class="text">Lưu ý: sản phẩm không cũ quá 92% sau khi đăng tin trong một giờ không được duyệt bài viết, hãy liên hệ trực tiếp như sau.<br> 
						Fanpage: https://www.facebook.com/unixstoreee.<br>
						Hotline: (84+).546 783 452.<br> 
						Gmail: khanhduy12122000@gmail.com.</div>
                    <!--Countdown Timer-->
                	<a [routerLink] = "['/about']"  routerLinkActive="router-link-active" class="cart-btn mt-3"><i class=""></i>Đăng sản phẩm</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cart banner section -->

	<!-- Testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/customer/customer1.jpg" alt="">
							</div>
							<div class="client-meta">
								<h3>Đình hiếu <span>Quận 6</span></h3>
								<p class="testimonial-body">
									Sản phẩm tuy mua cũ nhưng nhà thanh lý đã duyệt nguổn đúng thông tin bên bán thank chợ cũ.<br>
									Sản phẩm đã mua: bàn học chữ L.<br>
									Độ mới: 95%,<br>
									Đánh giá:
									<span style="color:yellow" class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star"></span>
									<span class="fa fa-star"></span>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/customer/customer2.jpg" alt="">
							</div>
							<div class="client-meta">
								<h3>Hữu Tâm <span> Quận Tân Bình</span></h3>
								<p class="testimonial-body">
									Sản phẩm đúng với mô tả tử người bán với sự kiểm duyệt từ chợ cũ thì tôi an tâm với sản phẩm này.<br>
									Sản phẩm đã mua: Điện thoại iphone XR.<br>
									Độ mới: 98%,<br>
									Đánh giá:
									<span style="color:yellow" class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star"></span>
									<span style="color:yellow"class="fa fa-star"></span>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/customer/customer3.jpg" alt="">
							</div>
							<div class="client-meta">
								<h3>Thanh Duy <span> Quận Gò vấp</span></h3>
								<p class="testimonial-body">
									Sản phẩm đúng với mô tả tử người bán với sự kiểm duyệt từ chợ cũ thì tôi an tâm với sản phẩm này.<br>
									Sản phẩm đã mua: Quạt Senko.<br>
									Độ mới: 95%,<br>
									Đánh giá:
									<span style="color:yellow" class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star checked"></span>
									<span style="color:yellow"class="fa fa-star"></span>
									<span style="color:yellow"class="fa fa-star"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End testimonail-section -->
	<div class="floating-chat">
		<i class="fa fa-comments" aria-hidden="true"></i>
		<div class="chat">
			<div class="header">
				<span class="title">
					what's on your mind?
				</span>
				<button>
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
							 
			</div>
			<ul class="messages">
				<li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
				<li class="other">Are we dogs??? 🐶</li>
				<li class="self">no... we're human</li>
				<li class="other">are you sure???</li>
				<li class="self">yes.... -___-</li>
				<li class="other">if we're not dogs.... we might be monkeys 🐵</li>
				<li class="self">i hate you</li>
				<li class="other">don't be so negative! here's a banana 🍌</li>
				<li class="self">......... -___-</li>
			</ul>
			<div class="footer">
				<div class="text-box" contenteditable="true" disabled="true"></div>
				<button id="sendMessage">send</button>
			</div>
		</div>
	</div>
	<!-- Latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3 style="margin-bottom:27px;" ><span class="orange-text">TIN </span> TỨC</h3>
						<p>Những bản tin liên quan đền việc mua bán đồ cũ và cảnh giác khi giao dịch giữa ngưởi mua và bán.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="new1.component.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="firstnew.html">Những điều cần biết khi thanh lý đồ cũ qua mạng.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i>11/09/2022</span>
							</p>
							<p class="excerpt">Bạn có món đồ trong nhà chưa cũ nhưng bạn lại muốn những món mới đa tính năng hơn để đáp ứng nhu 
								cầu sử dụng mà chưa biết thanh lý như thế nào. Tại bài viết này, 
								Đồ cũ Thiên Tiến sẽ bật mí cho bạn những kinh nghiệm về thanh lý đồ cũ qua mạng.</p>
							<a href="firstnew.html" class="read-more-btn">Xem thêm <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a [routerLink]="['/news']" routerLinkActive="router-link-active"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a [routerLink]="['/news']" routerLinkActive="router-link-active">Kinh nghiệm chọn mua đồ gia dụng cũ.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 22/10/2022</span>
							</p>
							<p class="excerpt">Sở hữu một món đồ gia dụng đã sử dụng với chất lượng tốt và mức giá hời là lựa chọn của không ít gia đình
								 trong thời buổi kinh tế khó khăn hiện nay.  Mặc dù mua đồ cũ có thể hơi “may rủi” nhưng nếu bạn biết cách kiểm tra kĩ 
								càng những món đồ cần mua.</p>
							<a href="single-news.html" class="read-more-btn">Xem thêm <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">5 Lưu ý khi mua và sử dụng thiết bị điện gia dụng.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 02/11/2022</span>
							</p>
							<p class="excerpt">Khi mua sắm các trang thiết bị điện gia dụng cho gia đình bạn cần lưu tâm đến các chức năng hoạt động của sản phẩm, 
								kiểu dáng và giá cả. Một yếu tố quan trọng không thể bỏ qua đó chính là khả năng tiết kiệm điện của mỗi sản phẩm.</p>
							<a href="single-news.html" class="read-more-btn">Xem thêm <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		
	<!-- End latest news -->

	<!-- Logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End logo carousel -->
